.editCard{
    border: 1px solid black;
    display: flex;
    gap: 1vw;
    align-items: center;
    padding: 0px 8px;
    height: 36vh;
    width: 50vw;
    margin: 4vh auto;
    background-color: white;
    border-radius: 10px;
    border: none;
    box-shadow: 0 2px 8px 0 rgba(33, 39, 71, 0.4);
    overflow: hidden;
}
.editCard .imgContainer{
    height: 80%;
    object-fit: contain;
}
.editCard .imgContainer img{
    height: 100%;
}
.editCard .aboutProduct{
    height: 80%;
    width: 20%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 0vh 2vh;
    gap: 4vh;
}
.editCard .aboutProduct input{
    height: 18%;
    margin-top: 0px;
    border: 1px solid gray;
    outline: none;
    font-size: 24px;
    font-weight: 700;
}
.editCard .aboutProduct .price input{
    height: 100%;
    width:80%;
    font-size: 18px;
    font-weight: 400;
    color: gray;
}
.editCard .aboutProduct .editbtn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background-color: #A8D5BA;
    width: 6vw;
    padding: 1vh;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}
.editCard .aboutProduct .editbtn:hover{
    transform: scale(1.1);
}
.editCard .aboutProduct .editbtn span{
    font-size: 20px;
}
.editCard .aboutProduct .editbtn img{
    height: 20px;
}
.editCard .productDetails {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 12vh;
    height: 80%;
    width: 40%;
    font-size: 18px;
    color: gray
}
.editCard .productDetails .description{
    height: 100%;
    width: 100%;
}
.editCard .productDetails .description textarea{
    height: 100%;
    width: 100%;
    font-size: 18px;
    color: gray;
    outline: none;
}
.editCard .productDetails .btn{
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    background-color: #F8B6B4;
    color: black;
    width: 6vw;
    padding: 1vh;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}
.editCard .productDetails  .btn:hover{
    transform: scale(1.1);
}
.editCard .productDetails .btn img{
    height: 20px;
}
