.detailsCard{
    border: 1px solid black;
    display: flex;
    gap: 1vw;
    align-items: center;
    padding: 0px 8px;
    height: 32vh;
    width: 50vw;
    margin: 4vh auto;
    background-color: white;
    border-radius: 10px;
    border: none;
    box-shadow: 0 2px 8px 0 rgba(33, 39, 71, 0.4);
}
.detailsCard .imgContainer{
    height: 80%;
    object-fit: contain;
}
.detailsCard .imgContainer img{
    height: 100%;
}
.detailsCard .aboutProduct{
    height: 80%;
    width: 20%;
    display: flex;
    flex-direction: column;
    padding: 0vh 2vh;
    gap: 4vh;
}
.detailsCard .aboutProduct h2{
    margin-top: 0px;
}
.detailsCard .aboutProduct span{
    font-size: 18px;
    color: gray;
}
.detailsCard .aboutProduct .editbtn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border: 1px solid gray;
    background-color: #F0EBE3;
    width: 6vw;
    padding: 1vh;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}
.detailsCard .aboutProduct .editbtn:hover{
    transform: scale(1.1);
}
.detailsCard .aboutProduct .editbtn span{
    font-size: 20px;
}
.detailsCard .aboutProduct .editbtn img{
    height: 20px;
}
.detailsCard .productDetails {
    display: flex;
    flex-direction: column;
    gap: 12vh;
    height: 80%;
    width: 40%;
    font-size: 18px;
    color: gray;
}
.detailsCard .productDetails .deletebtn{
    display: flex;
    gap: 5px;
    justify-content: center;
    border: 1px solid gray;
    background-color: #F0EBE3;
    width: 6vw;
    padding: 1vh;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}
.detailsCard .productDetails .deletebtn:hover{
    transform: scale(1.1);
}
.detailsCard .productDetails .deletebtn img{
    height: 20px;
}
