.cart{
    /* height: 90vh; */
    display: flex;
    flex-direction: column;
    margin: 0vh 4vh;
    padding: 2vh 4vh;
}
.cart .loader{
    margin: 30vh auto;
}
.cart .emptyCart{
    height: 86vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart h1{
    font-family: sans-serif;
}
.cart .priceContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2vh 1vh;
    width: 20vh;
    position: fixed;
    top: 16vh;
    right: 1vw;
    border-radius: 10px;
    background-color: white;
    height: 7rem;
    width: 12rem;
    border: 1px solid lightgray;
}
.cart .priceContainer h3{
    margin-top: 0px;
}
.cart .priceContainer  span{
    font-size: 18px;
    font-weight: 550;
    color: gray;
}
.cart .priceContainer button{
    height: auto;
    width: 8rem;
    padding: 0.5vh;
    border-radius: 5px;
    border: none;
    background-color: #F6F5F2;
    color: gray;
    border: 1px solid gray;
    font-size: 20px;
    transition: transform 0.2s ease-in-out;
}
.cart .priceContainer  button:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.cart .cartItems{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 6vh;
}