.cart{
    display: flex;
    flex-direction: column;
    margin: 0vh 4vh;
    padding: 2vh 4vh;
}
.cart h1{
    font-family: sans-serif;
}
.cart .priceContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 1rem;
    width: 20vh;
    position: fixed;
    top: 16vh;
    right: 1vw;
    border-radius: 10px;
    background-color: white;
    height: 7rem;
    width: 12rem;
    border: 1px solid lightgray;
}

.cart .priceContainer  span{
    font-size: 18px;
    font-weight: 550;
}
.cart .priceContainer button{
    height: auto;
    width: 8rem;
    padding: 0.5rem;
    border-radius: 10px;
    border: none;
    background-color: #F6F5F2;
    color: gray;
    border: 1px solid gray;
    font-size: 20px;
    transition: transform 0.2s ease-in-out;
}
.cart .priceContainer  button:hover{
    transform: scale(1.1);
    cursor: pointer;
    background-color: #454545;
}
.cart .priceContainer  button:active{
    background-color: #252525;
}
.cart .cartItems{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8vh;
}