.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    padding: 0vh 2vw;
    font-size: 20px;
    font-weight: 600;
    background-color: #80AF81;
    color: #1A5319;
}
.navbar .sections{
    display: flex;
    gap: 4vw;
}
.navbar .sections span{
    cursor: pointer;
}
.navbar .sections div{
    cursor: pointer;
}
.navbar .sections .addbtn{
    display: flex;
    align-items: center;
    gap: 1vh;
}
.navbar .sections .addbtn img{
    height: 20px;
} 
.navbar .profile{
    display: flex;
    gap: 1vw;
    align-items: center;
}
.navbar .profile img{
    height: 4vh;
}